
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>Ficou com alguma dúvida?</h5>
                    <p>Envie um e-mail para <a href=mailto:sbsi2026.vix@gmail.com>sbsi2026.vix@gmail.com</a></p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Mapa do site</h5>
                    <ul class="list-unstyled">
                        <li><a href="/index.html#sobre">Sobre</a></li>
                        <li><a href="/index.html#chamadas">Chamadas</a></li>
                        <li><a href="/index.html#programacao">Programação</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Acompanhe o SBSI</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center pt-3">
                <img src="/src/assets/logo_semfundo.png" alt="Logo SBSI" width="100">
                <p class="mt-2">&copy; SBSI 2026 - Instituto Federal do Espírito Santo</p>
            </div>
        </div>
    